In [1]:
# Import Functions
import pandas as pd
import os
import time
import csv
import json
import fnmatch
import csv
import sqlalchemy as sql
import numpy as np
dbHost='mxnunx41'
dbPort='1521'
dbUser='lims'
dbPassword='Mumwit63'
dbName='hwi1'
dburl='oracle://'

In [2]:
# Default Parameters setting
with open('.//configFiles//BioRad.json', 'r') as f:
    config = json.load(f)
lab = config['lab']
analysis = config['analysis']
inst = config['inst']
mode = config['mode']
colsOrder=['Sample.Sample_Number', 'Test.Test_Number','Result.Name', 'Result.Entry', 'Result.Entered_By','Result.Instrument']

In [3]:
# get Data from DB
def getDataFromDB(sampleNumbersList):
    dburl = 'oracle://'+dbUser+':'+dbPassword+'@'+dbHost+':'+dbPort+'/'+dbName
    engine=sql.create_engine(dburl)
    resultdf=pd.DataFrame()
    sampleNumbrStr=(', '.join("'" + item + "'" for item in sampleNumbersList))
    queryText="SELECT sample_number, analysis, REPLICATE_COUNT,TEST_NUMBER FROM test"
    queryText=queryText+" WHERE SAMPLE_NUMBER IN ("+sampleNumbrStr+") AND analysis IN ('LSP-IQ125C')"
    conn = engine.connect()
    resultdf = pd.read_sql(queryText, engine)
    conn.close()
    return resultdf

In [4]:
#write the file
def writeFile(dframe,lab,inst,archDestination,importDest,datapath,fname):
    timestr = time.strftime("%Y%m%d%H%M%S")
    FileName = importDest + lab+'_'+inst+'_' + timestr + '.csv'
    dframe.to_csv(FileName, index=False, encoding="utf-8",quotechar='"',quoting=csv.QUOTE_NONNUMERIC) # write  out the file to be imported
    destination = archDestination + fname[:-4] + '.bak' # Backup the processed file
    os.rename(datapath, destination)
    time.sleep(1)

In [5]:
for eachlab in lab:
    print('Lab:'+eachlab)
    path= './/SampleFiles_Instruments//BioRad//'
    '''
    path='//mxns.loc//shares//NA-Instruments//Prod//'+eachlab+'//Import//'+inst+'//'
    archivedDestination='//mxns.loc//shares//NA-Instruments//Prod//'+eachlab+'//Import//'+inst+'//'
    if(mode=='T'):
        importDest='//mxns.loc//shares//NA-Instruments//Prod//'+eachlab+'//impf//testing//'
    else:
        importDest='//mxns.loc//shares//NA-Instruments//Prod//'+eachlab+'//impf//'
    if os.path.exists(path):
        pass
    else:
        os.makedirs(path)
    if os.path.exists(importDest):
        pass
    else:
        os.makedirs(importDest)
    '''
    files = os.listdir(path)
    for filename in files:
        if fnmatch.fnmatch(filename,'*.CSV'):
            print (filename)

Lab:Burnanby
admin_2019-06-04 16-24-19_CT016386_L. mono..csv
admin_2019-06-04 19-36-22_CT016386_L. mono..csv
admin_2019-06-04 22-08-06_CT016386_L. mono..csv

In [6]:
path= './/SampleFiles_Instruments//BioRad//'
filename='admin_2019-06-04 16-24-19_CT016386_L. mono..csv'
datapath = path + str(filename)
rawdf = pd.read_csv(datapath,sep=',',index_col=False,skiprows=23)

In [7]:
rawdf

,A02,FAM,Unnamed: 2,Unkn,Unnamed: 4,388787724,Unnamed: 6,Unnamed: 7,NaN,NaN.1,0,0.1,0.2,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,-227.436497324491,Negative
0,A04,FAM,NaN,Neg Ctrl,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0,0,NaN,NaN,NaN,NaN,NaN,26.253294,Valid Ctrl
1,B01,FAM,NaN,Unkn,NaN,388787661.0,NaN,NaN,NaN,NaN,0.000000,0,0,NaN,NaN,NaN,NaN,NaN,-189.940272,Negative
2,B02,FAM,NaN,Unkn,NaN,388787731.0,NaN,NaN,NaN,NaN,0.000000,0,0,NaN,NaN,NaN,NaN,NaN,-603.584588,Negative
3,B04,FAM,NaN,Pos Ctrl,NaN,NaN,NaN,NaN,30.487145,NaN,30.487145,0,0,NaN,NaN,NaN,NaN,(+) Positive,11745.053970,Valid Ctrl
4,C01,FAM,NaN,Unkn,NaN,388787677.0,NaN,NaN,NaN,NaN,0.000000,0,0,NaN,NaN,NaN,NaN,NaN,-296.549960,Negative
5,C02,FAM,NaN,Unkn,NaN,388787738.0,NaN,NaN,NaN,NaN,0.000000,0,0,NaN,NaN,NaN,NaN,NaN,-255.555703,Negative
6,D01,FAM,NaN,Unkn,NaN,388787681.0,NaN,NaN,NaN,NaN,0.000000,0,0,NaN,NaN,NaN,NaN,NaN,-341.298910,Negative
7,D02,FAM,NaN,Unkn,NaN,388769819.0,NaN,NaN,NaN,NaN,0.000000,0,0,NaN,NaN,NaN,NaN,NaN,-318.044265,Negative
8,E01,FAM,NaN,Unkn,NaN,388787685.0,NaN,NaN,NaN,NaN,0.000000,0,0,NaN,NaN,NaN,NaN,NaN,-170.044976,Negative
9,E02,FAM,NaN,Unkn,NaN,388769824.0,NaN,NaN,24.171032,NaN,24.171032,0,0,NaN,NaN,NaN,NaN,(+) Positive,13951.618417,Positive
10,F01,FAM,NaN,Unkn,NaN,388787711.0,NaN,NaN,NaN,NaN,0.000000,0,0,NaN,NaN,NaN,NaN,NaN,-299.419130,Negative
11,G01,FAM,NaN,Unkn,NaN,388787715.0,NaN,NaN,NaN,NaN,0.000000,0,0,NaN,NaN,NaN,NaN,NaN,-219.816186,Negative
12,H01,FAM,NaN,Unkn,NaN,388787719.0,NaN,NaN,NaN,NaN,0.000000,0,0,NaN,NaN,NaN,NaN,NaN,-194.941761,Negative
13,A01,HEX,NaN,Unkn,NaN,388787656.0,NaN,NaN,35.290490,NaN,35.290490,0,0,NaN,NaN,NaN,NaN,NaN,7554.641665,Negative
14,A02,HEX,NaN,Unkn,NaN,388787724.0,NaN,NaN,33.328239,NaN,33.328239,0,0,NaN,NaN,NaN,NaN,NaN,7818.639573,Negative
15,A04,HEX,NaN,Neg Ctrl,NaN,NaN,NaN,NaN,33.807567,NaN,33.807567,0,0,NaN,NaN,NaN,NaN,NaN,8226.629453,Valid Ctrl
16,B01,HEX,NaN,Unkn,NaN,388787661.0,NaN,NaN,35.641533,NaN,35.641533,0,0,NaN,NaN,NaN,NaN,NaN,5209.031560,Negative
17,B02,HEX,NaN,Unkn,NaN,388787731.0,NaN,NaN,33.682748,NaN,33.682748,0,0,NaN,NaN,NaN,NaN,NaN,6502.413635,Negative
18,B04,HEX,NaN,Pos Ctrl,NaN,NaN,NaN,NaN,33.271358,NaN,33.271358,0,0,NaN,NaN,NaN,NaN,NaN,6375.628495,Valid Ctrl
19,C01,HEX,NaN,Unkn,NaN,388787677.0,NaN,NaN,35.224962,NaN,35.224962,0,0,NaN,NaN,NaN,NaN,NaN,6144.277569,Negative
20,C02,HEX,NaN,Unkn,NaN,388787738.0,NaN,NaN,34.369400,NaN,34.369400,0,0,NaN,NaN,NaN,NaN,NaN,7088.238705,Negative
21,D01,HEX,NaN,Unkn,NaN,388787681.0,NaN,NaN,34.787182,NaN,34.787182,0,0,NaN,NaN,NaN,NaN,NaN,6199.542752,Negative
22,D02,HEX,NaN,Unkn,NaN,388769819.0,NaN,NaN,33.381608,NaN,33.381608,0,0,NaN,NaN,NaN,NaN,NaN,7200.890225,Negative
23,E01,HEX,NaN,Unkn,NaN,388787685.0,NaN,NaN,35.751486,NaN,35.751486,0,0,NaN,NaN,NaN,NaN,NaN,4989.044555,Negative
24,E02,HEX,NaN,Unkn,NaN,388769824.0,NaN,NaN,32.611949,NaN,32.611949,0,0,NaN,NaN,NaN,NaN,NaN,6068.575008,Positive
25,F01,HEX,NaN,Unkn,NaN,388787711.0,NaN,NaN,34.759082,NaN,34.759082,0,0,NaN,NaN,NaN,NaN,NaN,6317.944564,Negative
26,G01,HEX,NaN,Unkn,NaN,388787715.0,NaN,NaN,34.387647,NaN,34.387647,0,0,NaN,NaN,NaN,NaN,NaN,7240.526975,Negative
27,H01,HEX,NaN,Unkn,NaN,388787719.0,NaN,NaN,33.357476,NaN,33.357476,0,0,NaN,NaN,NaN,NaN,NaN,7520.111349,Negative

In [8]:
rawdf = rawdf[rawdf.Fluor !='HEX']
rawdf=rawdf.rename(index=str,columns={'Sample': 'sample_number'})
rawdf = rawdf[pd.notnull(rawdf['sample_number'])]
rawdf=rawdf.astype({"sample_number": int})
rawdf=rawdf.astype({"sample_number": str})

AttributeError: 'DataFrame' object has no attribute 'Fluor'

In [18]:
rawdf

,Well,Fluor,Target,Content,Replicate,sample_number,Biological Set Name,Well Note,Cq,Starting Quantity (SQ),Cq Mean,Cq Std. Dev,SQ Std. Dev,Melt Temperature,Peak Height,Begin Temperature,End Temperature,Call,End RFU,Result
0,A01,FAM,NaN,Unkn,NaN,388636647,NaN,NaN,NaN,NaN,0.000000,0,0,NaN,NaN,NaN,NaN,NaN,-31.429438,Negative
1,A02,FAM,NaN,Unkn,NaN,388637254,NaN,NaN,NaN,NaN,0.000000,0,0,NaN,NaN,NaN,NaN,NaN,-309.770103,Negative
2,B01,FAM,NaN,Unkn,NaN,388636677,NaN,NaN,NaN,NaN,0.000000,0,0,NaN,NaN,NaN,NaN,NaN,-50.750056,Negative
3,B02,FAM,NaN,Unkn,NaN,388637346,NaN,NaN,NaN,NaN,0.000000,0,0,NaN,NaN,NaN,NaN,NaN,-45.592750,Negative
4,C01,FAM,NaN,Unkn,NaN,388636754,NaN,NaN,NaN,NaN,0.000000,0,0,NaN,NaN,NaN,NaN,NaN,-167.223127,Negative
5,C02,FAM,NaN,Unkn,NaN,388637364,NaN,NaN,NaN,NaN,0.000000,0,0,NaN,NaN,NaN,NaN,NaN,-173.314916,Negative
6,D01,FAM,NaN,Unkn,NaN,388636976,NaN,NaN,NaN,NaN,0.000000,0,0,NaN,NaN,NaN,NaN,NaN,-92.998778,Negative
7,D02,FAM,NaN,Unkn,NaN,388640562,NaN,NaN,NaN,NaN,0.000000,0,0,NaN,NaN,NaN,NaN,NaN,-266.115857,Negative
8,E01,FAM,NaN,Unkn,NaN,388637092,NaN,NaN,NaN,NaN,0.000000,0,0,NaN,NaN,NaN,NaN,NaN,-215.051414,Negative
9,E02,FAM,NaN,Unkn,NaN,388640596,NaN,NaN,25.771888,NaN,25.771888,0,0,NaN,NaN,NaN,NaN,(+) Positive,11590.654082,Positive
10,F01,FAM,NaN,Unkn,NaN,388637127,NaN,NaN,NaN,NaN,0.000000,0,0,NaN,NaN,NaN,NaN,NaN,-213.296165,Negative
11,G01,FAM,NaN,Unkn,NaN,388637159,NaN,NaN,NaN,NaN,0.000000,0,0,NaN,NaN,NaN,NaN,NaN,-307.664306,Negative
13,H01,FAM,NaN,Unkn,NaN,388637220,NaN,NaN,NaN,NaN,0.000000,0,0,NaN,NaN,NaN,NaN,NaN,-72.431937,Negative

In [19]:
sampleNumbersList=list(rawdf['sample_number'].unique())
databasedf=getDataFromDB(sampleNumbersList)
rawdf=rawdf.astype({"sample_number": int})
dfResult = rawdf.merge(databasedf, how = 'inner', on = ['sample_number'])

In [20]:
dfResult=dfResult.rename(index=str, 
columns={'sample_number': 'Sample.Sample_Number', 'Result': 'Result.Entry','test_number':'Test.Test_Number'})

In [21]:
dfResultReplicateMax = dfResult.groupby('Sample.Sample_Number')['replicate_count'].max().reset_index()
dfResultFinal = dfResult.merge(dfResultReplicateMax, how = 'inner', on = ['Sample.Sample_Number','replicate_count'])

In [22]:
dfResultFinal['Result.Name']='PCR'
dfResultFinal['Result.Entered_By']='IMPORTER'
dfResultFinal['Result.Instrument']='BIO-RAD'
dfResultFinal = dfResultFinal[colsOrder]

In [23]:
dfResultFinal

,Sample.Sample_Number,Test.Test_Number,Result.Name,Result.Entry,Result.Entered_By,Result.Instrument
0,388636647,649072651,PCR,Negative,IMPORTER,BIO-RAD
1,388637254,649084948,PCR,Negative,IMPORTER,BIO-RAD
2,388636677,649072656,PCR,Negative,IMPORTER,BIO-RAD
3,388637346,649085459,PCR,Negative,IMPORTER,BIO-RAD
4,388636754,649072660,PCR,Negative,IMPORTER,BIO-RAD
5,388637364,649085463,PCR,Negative,IMPORTER,BIO-RAD
6,388636976,649072665,PCR,Negative,IMPORTER,BIO-RAD
7,388640562,649091385,PCR,Negative,IMPORTER,BIO-RAD
8,388637092,649072669,PCR,Negative,IMPORTER,BIO-RAD
9,388640596,649091940,PCR,Positive,IMPORTER,BIO-RAD
10,388637127,649084934,PCR,Negative,IMPORTER,BIO-RAD
11,388637159,649084938,PCR,Negative,IMPORTER,BIO-RAD
12,388637220,649084943,PCR,Negative,IMPORTER,BIO-RAD

In [ ]:
writeFile(dfResultFinal,lab,inst,path,importDest,datapath,fname)